    {{/*  <nav class="navbar sticky-top navbar-light bg-light navbar-inline" role="navigation">  */}}
    <nav class="sticky-top navbar-light bg-light navbar-inline d-lg-none" role="navigation">
      <ul class="nav nav-fill"> {{/* justify-content-center */}}
        {{ if .Site.Params.showSkills }}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#skills">Skills</a>
            </li>
        {{ end }}
        {{ if .Site.Params.showProjects }}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#projects">Projects</a>
            </li>
        {{ end }}
        {{ if .Site.Params.showOpenSource }}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#open">Open Source</a>
            </li>
        {{ end }}
        {{ if .Site.Params.showPublications }}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#publications">Publications</a>
            </li>
        {{ end }}
        {{ if .Site.Params.showExperience }}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#experience">Experience</a>
            </li>
        {{ end }}
        {{ if .Site.Params.showEducation }}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#education">Education</a>
            </li>
        {{ end }}
        {{ if .Site.Params.showBlog }}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#blog">Blog</a>
            </li>
        {{ end }}
      </ul>
    </nav>